html, body {
    /* margin: 0; */
    padding: 0;
    font-family: sans-serif;
}

h1 {
    margin-left: 10px;
}
#container-one{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px;
    margin-bottom: 200px;
}

#container-one > div {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkslategray;
    font-size: 25px;
    border-radius: 7px;
    height: 55px;
    margin: 1px;
}

#container-one > div:nth-child(1) {
    background-color: lightcoral;
    grid-column: 1 / 3;
    /* content: 'header'; */
}

#container-one > div:nth-child(2) {
    background-color: dodgerblue;
    grid-column: 3 / -1;
}

#container-one > div:nth-child(3) {
    background-color: rgb(158, 233, 152);
}

#container-one > div:nth-child(4) {
    background-color: plum;
    grid-column: 2 / -1;
}

#container-one > div:nth-child(5) {
    background-color: rgba(248, 243, 110, 0.882);
    grid-column: 1 / -1;
}

#container-two{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 100px);
    padding-left: 80px;
    padding-right: 80px;
    margin: 40px;
    margin-bottom: 200px;
}

#container-two > div {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkslategray;
    font-size: 25px;
    border-radius: 7px;
    margin: 1px;
    /* height: 55px; */
}

#container-two > div:nth-child(1) {
    background-color: lightcoral;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    /* content: 'header'; */
}

#container-two > div:nth-child(2) {
    background-color: dodgerblue;
    grid-column: 1 / 3;
    grid-row: 2 / -1
}

#container-two > div:nth-child(3) {
    background-color: rgb(158, 233, 152);
    grid-column: 3 / -1;
    grid-row: 2 / 3;
}

#container-two > div:nth-child(4) {
    background-color: plum;
    grid-column: 3 / 4;
    grid-row: 3 / -1;
}

#container-two > div:nth-child(5) {
    background-color: plum;
    grid-column: 4 / -1;
    grid-row: 3 / -1;
}

#container-three {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(3, 100px); */
    /* box-sizing: content-box; */
    /* padding-left: 80px;
    padding-right: 80px; */
    /* margin: 60px; */
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 600px;
    font-family: auto;
}

div p {
    /* background-color: yellow; */
    text-align: left;
    margin: 0px;
}

#container-three > div {
    /* border: 2px solid black; */
    display: flex;
    justify-content:left;
    /* align-items: left; */
    color: whitesmoke;
    font-size: 25px;
    border-radius: 7px;
    padding: 8px;
    margin: 1px;
}

#container-three > div:nth-child(1) {
    background-color: rgba(1, 96, 96, 0.662);
    grid-column: 1 / -1;
    /* color: white; */
    /* grid-row: 1 / 2; */
    content: 'header';
}

#container-three > div:nth-child(2) {
    background-color:  rgb(0, 75, 75);;
    grid-column: 1 / -1;
    /* grid-row: 2 / -1 */
    /* color: white; */
}

#container-three > div:nth-child(3) {
    background-color: rgb(0, 75, 75);
    grid-column: 1 / -1;
    /* grid-row: 2 / 3; */
    /* color: white;      */
}


#container-three > div:nth-child(4) {
    background-color: rgba(1, 117, 117, 0.27);
    grid-column: 1 / -1;
    color: black;
    /* grid-row: 3 / -1 */
}

#container-three > div:nth-child(5) {
    background-color: rgba(1, 96, 96, 0.662);
    grid-column: 1 / -1;
    /* grid-row: 3 / -1 */
    /* color: white; */
}

@media only screen and (min-width: 700px) {

    #container-three > div:nth-child(2) {
        background-color:  rgb(0, 75, 75);;
        grid-column: 1 / 2;
        /* grid-row: 2 / -1 */
        color: white;
    }

    #container-three > div:nth-child(3) {
        background-color: rgb(0, 75, 75);
        grid-column: 2 / -1;
        /* grid-row: 2 / 3; */
        color: white; 
    }  
}

@media only screen and (min-width: 1024px) {

    #container-three > div:nth-child(2) {
        background-color:  rgb(0, 75, 75);;
        grid-column: 1 / 2;
        /* grid-row: 2 / -1 */
        color: white;
    }
   
    #container-three > div:nth-child(3) {
        background-color: rgb(0, 75, 75);
        grid-column: 2 / 4;
        /* grid-row: 2 / 3; */
        color: white; 
    }

    #container-three > div:nth-child(4) {
        background-color: rgba(1, 117, 117, 0.27);
        grid-column: 4 / 5;
        /* grid-row: 3 / -1 */
    }
}

   