html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#container-two {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 100px);
    padding-left: 80px;
    padding-right: 80px;
    margin: 40px
}

#container-two > div {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 25px;
    border-radius: 7px;
    /* height: 55px; */
}

#container-two > div:nth-child(1) {
    background-color: lightcoral;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    /* content: 'header'; */
}

#container-two > div:nth-child(2) {
    background-color: dodgerblue;
    grid-column: 1 / 3;
    grid-row: 2 / -1;
}

#container-two > div:nth-child(3) {
    background-color: rgb(158, 233, 152);
    grid-column: 3 / -1;
    grid-row: 2 / 3;
}

#container-two > div:nth-child(4) {
    background-color: plum;
    grid-column: 3 / 4;
    grid-row: 3 / -1;
}

#container-two > div:nth-child(5) {
    background-color: plum;
    grid-column: 4 / -1;
    grid-row: 3 / -1;
}
   